.Advantage{
    width:90%;
    
  
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-bottom: 70px;
    
}

.Advantage h3{
    color:white;
    font-size: 3em;
    font-weight: 700;
    padding-top: 10px;
    line-height: 100%;
    text-align: center;
}

.advantage-img{
    width:100%;
    max-width: 480px;
    border:10px solid yellow;
}

@media screen and (min-width:1024px){
    .Advantage {
        
        flex-direction: row;
        gap:50px;
    }

    .Advantage h3 {
        font-size: 5em;
    }

    .Advantage:nth-of-type(2n){
        flex-direction: row-reverse;
    }

    #about-us > div.wrapper > div:nth-child(4) {
        flex-direction: row;
        justify-content: space-between;
    }

    #about-us > div.wrapper > div:nth-child(4) > div {
        margin:0;
      }

    #about-us > div.wrapper > div:nth-child(4) > h3{
        padding-right: 100px;
      }
      
    #about-us > div.wrapper > div:nth-child(5) {
        flex-direction: row-reverse;
    }

}