.swiper-slide{
    object-fit: cover;
}

.swiper-slide-active{
    display: flex;
    justify-content: center;
}

.swiper{
    width:100%;
    max-width: min(480px,90vw);
    aspect-ratio: 1/1;
    height: min(480px,90vw);
    max-height: 480px;
}

.swiper-pagination-bullet{
    background:white;
}