.swiper-slide{
    width: 100%;
    height: intrinsic;
    object-fit: cover !important;
}

.swiper-slide-active{
    display: flex;
    justify-content: center;
    object-fit: cover;
}

#advantages > div > div:nth-child(4) > div{
  
    max-width: min(480px,87vw);
    
    height: min(480px,87vw);
    
}

#about-us > div.wrapper > div:nth-child(4) > div{
    max-width: min(480px,87vw);
    
    height: min(480px,87vw);
}

.swiper-pagination-bullet{
    background:white;
}

.swiper-slide-active > img {
    border:10px solid yellow;
    object-fit: cover !important;
}