.bigImg{
    max-width: 800px;
    width:100%;
  }
  
  .bigImgtext{
    color:white;
    font-size: 1.5em;
    font-weight: 700;
    padding-top: 10px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 80px;
  }
  

#about-us > div.wrapper > div.bigImg > div{
  
    max-width: 500px;
    
    height: intrinsic;
    aspect-ratio: 1;
    
}



.swiper-pagination-bullet{
    background:white;
}

@media screen and (min-width:1024px){
    #about-us > div.wrapper > div.bigImg > div{
        aspect-ratio:0;
        max-width: 800px;
    }

    .bigImg{
        max-width: 800px;
        width:100%;
      }
}