.main-screen{
    width:98vw;
    height: 98vh;
    background-image: url(./main.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin:0 auto;
    padding-top:150px;
    padding-bottom: 50px;
    justify-content: center;
    gap:150px;
    align-items:center;
    
}

.main-screen h1 {
    color:white;
    font-size: 2.3em;
    text-align: center;
    font-weight: 700;
}

.main-screen-href {
    text-decoration: none;
    color: rgb(29,29,29);
    background-color:yellow;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.1em;
    text-align: center;
    font-weight: 700;
}


.main-screen-href:hover{
    background-color:white;
    transition: 0.3s ease-in-out;
}


@media screen and (min-width:481px){
    .main-screen{
        background-image: url(./main-desctop.jpg);

    }

    .main-screen h1{
        font-size: 3.5em;
    }

}

@media screen and (min-width:1024px){
    .main-screen h1 {
        font-size: 4em;
    }

    .main-screen{
        justify-content: center;
        gap:150px;
    }
}