.regular-item{
    border-bottom:1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 0;
}


.regular-group{
    display: flex;
    justify-content: space-between;
    gap:20px;
    min-width: 100px;
    padding: 20px 0;
    
}

/* fondue div */
#burgers > div > div:nth-child(17) > div{
    width:100%;
}

.regular-name{
    font-size: 1.1em;
    color:white;
}

.regular-price{
    font-size: 1em;
    letter-spacing: 2px;
    color:white;
}


.regular-weight{
    font-size: 1em;
    color:white;
}


@media screen and (max-width:375px){
    .regular-name{
        font-size: 1.4em;
    }

    .regular-price,
    .regular-weight{
        font-size: 1.3em;
    }

    .regular-group{
        min-width: 150px;
    }
}






@media screen and (min-width:1024px){
    .regular-group{
        width: 300px;
    }

    .regular-name{
        font-size: 1.5em;
        color:white;
    }
    
    .regular-price{
        font-size: 1.4em;
        color:white;
    }
    
    
    .regular-weight{
        font-size: 1.4em;
        color:white;
    }
    

}