header{
    width:100vw;
    height: 100px;
    background-color: #292929;
    position:fixed;
    z-index: 50;
}

header  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
} 

ul{
    display:flex;
}

.navLogo{
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:130px;
}

.desctop-nav{
    display: none;
}



ul{
    list-style: none;
}



.nav-link{
    text-decoration: none;
    color:white;
    text-transform: capitalize;
    margin-left:40px;
    font-size: 1.5em;
    font-weight: 700;
}

.nav-link:hover{
    color:yellow;
    transition: 0.3s ease-in-out;
}

.desctop-lang{
    display: none;
}

.lang{
    
    cursor: pointer;
    color:white;
    margin-left: 20px;
    padding-bottom: 2px;
}

.lang:hover{
    
   border-bottom: 2px solid yellow;
   
   transition-duration: 0.1s;
}

.burger{
    padding-right: 10px;
    cursor: pointer;
}

.header-order{
    display: none;
}

.checked{
    border-bottom: 2px solid yellow; 
    font-weight: 700;
}


@media screen and (min-width:1024px){
  

    header  .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-around;
    } 



    .burger{
        display:none;
        
    }


    .navLogo{
        display: block;
    }

    .desctop-nav {
        display: inline;
    }

    .desctop-lang{
        display: inline;
    }

    .header-order{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    
    .header-order span{
        color:white;
        font-size: 0.9em;
    }
    
    .header-order a {
        color:yellow;
        font-size: 1.2em;
        text-decoration: none;
        font-weight: 700;
    }
    
} 