.list-item{
    
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.list-img{
    padding-top: 40px;
    width:95vw;
    height: 100%;
    max-width:480px;
}

.list-name{
    color:white;
    font-size: 2.5rem;
    padding-bottom: 10px;
    text-align: center;
}

.list-price{
    color:white;
    font-size: 1.5rem;
}

.list-weight{
    color:white;
    font-size:1.5rem;
}

.list-group{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding:10px 0;
    border-bottom:1px solid white;
}

.list-info{
    padding:20px 0;
}

.list-descr{
    color:white;
    font-size: 1.5rem;
}



#specials > div > div:nth-child(n+3) > div > h3 {
    font-size:1.5rem
}




@media screen and (max-width:375px){
    #deserts > div > div:nth-child(n) > div > h3 {
        font-size: 1.5em;
    }
}

@media screen and (min-width:768px){
    .list-item{
        flex-direction: row;
        gap:20px;
        padding-top: 20px;
        align-items:center
    }

    .list-img{
        max-width: min(40vw,480px)
    }

    #specials > div > div:nth-child(n+3) > div{
        width:100%;
        
    }

    #specials > div > div:nth-child(n+3) > div > h3 {
        font-size: 2.1rem;
        padding-bottom: 20px;
    }
}

@media screen and (min-width:1024px) {
    #specials > div > div:nth-child(n+3) > div > h3{
        text-align: left;
    }
    .list-group{
        padding-top: 20px;
    }

    #sandwitches,
    #hotDogs,
    #deserts,
    #sauses,
    #fries,
    #specials {
        margin-top: 50px;
    }
}